<div id="auth-container" class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 d-flex justify-content-center">
            <div class="form-wrapper p-4 shadow-lg">
                <h2 class="text-center mb-4 main-color"><i class="bi bi-key-fill me-2"></i>Recuperar Senha</h2>
                <p class="text-center text-muted mb-4">
                    Insira seu e-mail abaixo. Enviaremos um código de 6 dígitos para validar a sua identidade.
                </p>
                
                <form action="/forgot-password" method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <div class="mb-4">
                        <label for="email" class="form-label fw-bold">Email cadastrado:</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Ex: joao@email.com" required>
                    </div>
                    
                    <button type="submit" class="btn auth-submit w-100">
                        <i class="bi bi-send-fill me-2"></i> Enviar Código
                    </button>
                </form>
                
                <hr class="my-4 border-secondary">
                
                <p class="text-center mb-0">
                    Lembrou a senha? <a href="/login" class="main-color text-decoration-none small">Voltar ao Login</a>
                </p>
            </div>
        </div>
    </div>
</div>